server:
  port: 8080
spring:
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://localhost:5432/appdb
    username: appuser
    password: secret
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true

  kafka:
    bootstrap-servers: my-cluster-kafka-bootstrap.kafka.svc:9092

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        "[spring.json.add.type.headers]": false

    consumer:
      group-id: orders-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        "[spring.json.trusted.packages]": "*"
---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:postgresql://localhost:5432/appdb
    username: appuser
    password: secret
---
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/appdb
    username: appuser
    password: secret
---
spring:
  config:
    activate:
      on-profile: k8s
  datasource:
    url: jdbc:postgresql://host.minikube.internal:5432/appdb
    username: appuser
    password: secret
